# Week 12 Homework - Generate fake data

Extend the class `FakeDataGenerator` and add the following features to the extended class.

* Email address
* Phone number
* Person's name
* Year born. (Use realistic values.)
* Number of kids. (Use realistic values.)
* Marital status. (Single/Married) 
* Annual income. (Optional challenge: Use a non-uniform distribution)

* have a method to write it to a file in csv format

In [1]:
pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (9.8.3)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (3.10.0.2)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [2]:
# Use this or replace this with yours from your week10 hw. (It's up to you.)

import pandas as pd
import random
from faker import Faker

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
          
        self.fake = Faker()
        
        if df is not None:
            self.df = df
            self.rows = len(df)
        else:
            self.df = pd.DataFrame()
            self.rows = rows
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [random.randint(small_value,high_value) for i in range(self.rows)]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.first_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.last_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.email() for i in range(self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.phone_number() for i in range(self.rows)]
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake address to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.address() for i in range(self.rows)]
        
        return self.df

In [3]:
# complete this
class PocDataGenerator(FakeDataGenerator):
    def add_dob(self,column_name):
      self.df[column_name] = [self.fake.date() for i in range(self.rows)]
      return self.df

    def add_kids(self,column_name):
      self.df[column_name] = [self.fake.random.randint(0,4) for i in range(self.rows)]
      return self.df    

    def add_marital(self,column_name):
      for i in range(self.rows):
        if self.df.loc[:,"Number_of_kids"][i] == 0:
          self.df.at[i,column_name] = "Single"
        else:
          self.df.at[i,column_name] = "Married"
      return self.df  

    def add_income(self,column_name):
      self.df[column_name] = [random.randint(1000, 1000000) for i in range(self.rows)]
      return self.df

In [4]:
g = PocDataGenerator()

In [5]:
g.add_address('home_address')

                                        home_address
0  95241 Frye Junctions Suite 730\nEast Lisaland,...
1  627 Lopez Turnpike Suite 096\nNew Matthew, IA ...
2  47558 Laura Springs Apt. 207\nLucasberg, IA 12520
3  229 Taylor Avenue Suite 347\nAmberchester, NC ...
4  46003 Wright Turnpike Apt. 282\nLake Victoriaf...

In [6]:
g.add_dob('date_of_birth')
g.add_kids('Number_of_kids')
g.add_income('Income')

                                        home_address  ...  Income
0  95241 Frye Junctions Suite 730\nEast Lisaland,...  ...  773040
1  627 Lopez Turnpike Suite 096\nNew Matthew, IA ...  ...    8073
2  47558 Laura Springs Apt. 207\nLucasberg, IA 12520  ...  395593
3  229 Taylor Avenue Suite 347\nAmberchester, NC ...  ...  615810
4  46003 Wright Turnpike Apt. 282\nLake Victoriaf...  ...   94530

[5 rows x 4 columns]

In [7]:
poc=g.add_marital('Marital Status')
poc

                                        home_address  ... Marital Status
0  95241 Frye Junctions Suite 730\nEast Lisaland,...  ...         Single
1  627 Lopez Turnpike Suite 096\nNew Matthew, IA ...  ...        Married
2  47558 Laura Springs Apt. 207\nLucasberg, IA 12520  ...        Married
3  229 Taylor Avenue Suite 347\nAmberchester, NC ...  ...        Married
4  46003 Wright Turnpike Apt. 282\nLake Victoriaf...  ...         Single

[5 rows x 5 columns]

In [8]:
poc.to_csv(r'F:\new601\data601\Week12\file.csv')