# Week9 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1) i.e: 2018 => 2018-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS601_Fall21/main/Week09/data/hw_data_less_spicy.csv', index_col=0)

In [3]:
df.head()

                        email                                              notes
0        george03@hotmail.com   start date: 2005-06 end date:2016 pn: 2844290125
1     jbrown@taylor-scott.com    start date: 2007-11/end date:2016/P# 3927388045
2  xperez@williams-palmer.com  start date: 03/15/1982/end date:November 2021/...
3         dorothy84@yahoo.com         start date: 05/06/1971 end date:2011-12-12
4          rrocha@hotmail.com  start date: 1971-03-30/end date:2020-07-31/P# ...

In [4]:
df['notes']

0        start date: 2005-06 end date:2016 pn: 2844290125
1         start date: 2007-11/end date:2016/P# 3927388045
2       start date: 03/15/1982/end date:November 2021/...
3              start date: 05/06/1971 end date:2011-12-12
4       start date: 1971-03-30/end date:2020-07-31/P# ...
                              ...
1995    start date: June 1990 end date:2010 P# 843.880...
1996           start date: 09/10/1989-end date:08/08/2017
1997    start date: 1995-09/end date:2018-12/pn: 99001...
1998    start date: February 2001/end date:2014/pn: 48...
1999    start date: 1970-08-end date:July 2015-P# 362-...
Name: notes, Length: 2000, dtype: object

In [5]:
pattern= re.compile(r'((s\w*t) (d\w*e):) ((\d{2,4}[-\/]\d{1,2}[-\/]\d{1,4})|(\d{2,4}[-\/]\d{1,2})|(\d{1,4})|(January|February|March|April|May|June|July|August|September|October|November|December)(\s\d{1,4}))',re.I)

In [57]:
df['start date']= [pattern.search(str(a)).group()  if pattern.search(str(a)) != None else False for a in  df['notes']]

In [7]:
df['start date']

0             start date: 2005-06
1             start date: 2007-11
2          start date: 03/15/1982
3          start date: 05/06/1971
4          start date: 1971-03-30
                  ...
1995        start date: June 1990
1996       start date: 09/10/1989
1997          start date: 1995-09
1998    start date: February 2001
1999          start date: 1970-08
Name: start date, Length: 2000, dtype: object

In [8]:
pattern= re.compile(r'((\d{2,4}[-\/]\d{1,2}[-\/]\d{1,4})|(\d{2,4}[-\/]\d{1,2})|(\d{1,4})|(January|February|March|April|May|June|July|August|September|October|November|December)(\s\d{1,4}))',re.I)
df['start_date']= [pattern.search(str(s)).group()  if pattern.search(str(s)) != None else False for s in  df['start date']]

In [9]:
df

                           email  ...     start_date
0           george03@hotmail.com  ...        2005-06
1        jbrown@taylor-scott.com  ...        2007-11
2     xperez@williams-palmer.com  ...     03/15/1982
3            dorothy84@yahoo.com  ...     05/06/1971
4             rrocha@hotmail.com  ...     1971-03-30
...                          ...  ...            ...
1995        mcgeehannah@bass.biz  ...      June 1990
1996      moorekenneth@yahoo.com  ...     09/10/1989
1997      allenreeves@fisher.com  ...        1995-09
1998            mark49@yahoo.com  ...  February 2001
1999      johnsonjames@smith.biz  ...        1970-08

[2000 rows x 4 columns]

In [10]:
pattern= re.compile(r'(e\w*d) (d\w*e):((\d{2,4}[-\/]\d{1,2}[-\/]\d{1,4})|(\d{2,4}[-\/]\d{1,2})|(\d{1,4})|(January|February|March|April|May|June|July|August|September|October|November|December)(\s\d{1,4}))',re.I)

In [11]:
df['end date']= [pattern.search(str(e)).group()  if pattern.search(str(e)) != None else False for e in  df['notes']]

In [12]:
pattern= re.compile(r'((\d{2,4}[-\/]\d{1,2}[-\/]\d{1,4})|(\d{2,4}[-\/]\d{1,2})|(\d{1,4})|(January|February|March|April|May|June|July|August|September|October|November|December)(\s\d{1,4}))',re.I)
df['end_date']= [pattern.search(str(e)).group()  if pattern.search(str(e)) != None else False for e in  df['end date']]

In [13]:
df

                           email  ...       end_date
0           george03@hotmail.com  ...           2016
1        jbrown@taylor-scott.com  ...           2016
2     xperez@williams-palmer.com  ...  November 2021
3            dorothy84@yahoo.com  ...     2011-12-12
4             rrocha@hotmail.com  ...     2020-07-31
...                          ...  ...            ...
1995        mcgeehannah@bass.biz  ...           2010
1996      moorekenneth@yahoo.com  ...     08/08/2017
1997      allenreeves@fisher.com  ...        2018-12
1998            mark49@yahoo.com  ...           2014
1999      johnsonjames@smith.biz  ...      July 2015

[2000 rows x 6 columns]

In [14]:
df.dtypes

email         object
notes         object
start date    object
start_date    object
end date      object
end_date      object
dtype: object

In [15]:
df['start_date']=pd.to_datetime(df['start_date'])
df['end_date']=pd.to_datetime(df['end_date'])

In [16]:
df.dtypes

email                 object
notes                 object
start date            object
start_date    datetime64[ns]
end date              object
end_date      datetime64[ns]
dtype: object

In [17]:
df

                           email  ...   end_date
0           george03@hotmail.com  ... 2016-01-01
1        jbrown@taylor-scott.com  ... 2016-01-01
2     xperez@williams-palmer.com  ... 2021-11-01
3            dorothy84@yahoo.com  ... 2011-12-12
4             rrocha@hotmail.com  ... 2020-07-31
...                          ...  ...        ...
1995        mcgeehannah@bass.biz  ... 2010-01-01
1996      moorekenneth@yahoo.com  ... 2017-08-08
1997      allenreeves@fisher.com  ... 2018-12-01
1998            mark49@yahoo.com  ... 2014-01-01
1999      johnsonjames@smith.biz  ... 2015-07-01

[2000 rows x 6 columns]

In [18]:
#pattern = re.compile(r'(pn|p#|p\/n)(:| )(( \d{1,10})|( \d{3}.\d{3}.\d{4}x\d{2,5})|\d{3}\-\d{3}\-\d{3}\-\d{4}x\d{1,5}|(\d{1,10})|(\d{3}.\d{3}\.\d{4})|( \+\d{1}\-\d{3}\-\d{3}\-\d{4})|\(\d{3}\)\d{3}\-\d{4}x\d{1,5}|\(\d{3}\)\d{3}\-\d{4}x\d{1,5})|\(\d{3}\)\d{3}\-\d{4}|(\d{3}\-\d{3}\-\d{4}x\d{1,5})|\d{3}.\d{4}',re.I)

In [30]:
#pattern=re.compile(r'(pn|p#|p\/n)(:| )(( \d{1,10})|\d{3}\-\d{3}\-\d{3}\-\d{4}x\d{1,5}|(\d{1,10})|( \+\d{1}\-\d{3}\-\d{3}\-\d{4})|\(\d{3}\)\d{3}\-\d{4}x\d{1,5}|\(\d{3}\)\d{3}\-\d{4}x\d{1,5})|\(\d{3}\)\d{3}\-\d{4}|(\-\d{3}\-\d{4}x\d{1,5})|\d{3}.\d{3}.\d{4}',re.I)

In [58]:
pattern=re.compile(r'(pn|p#|p\/n)(:| )(( \d{1,10})|\d{3}\-\d{3}\-\d{3}\-\d{4}x\d{1,5}|(\d{1,10})|( \+\d{1}\-\d{3}\-\d{3}\-\d{4})|\(\d{3}\)\d{3}\-\d{4}x\d{1,5})|\(\d{3}\)\d{3}\-\d{4}|(\-\d{3}\-\d{4}x\d{1,5})|\d{3}.\d{3}.\d{4}|\d{3}\-\d{3}\-\d{4}',re.I)

In [59]:
df['phone number']= [pattern.search(str(p)).group()  if pattern.search(str(p)) != None else False for p in  df['notes']]

In [60]:
df['phone number'].head(50)

0                pn: 2844290125
1                 P# 3927388045
2                         False
3                         False
4                        P# 726
5                         False
6                      p/n  001
7     P# 001-841-144-4431x84270
8                         False
9                  877-565-1740
10                        False
11                        False
12                        False
13                        False
14       P# (505)577-8470x86558
15                (126)950-9991
16                        False
17                        False
18                      pn: 634
19                     p/n  001
20                        False
21                        False
22                      pn: 478
23                        False
24                      pn: 001
25                P# 9778001651
26                        False
27                        False
28                 653.050.1665
29               pn: 4840352313
30                        False
31                        False
32                      pn: 713
33                        False
34                        False
35                        False
36                 746.019.4084
37                        False
38                        False
39              p/n  8464754015
40                      p#  001
41                (919)704-2016
42                      pn: 952
43                        False
44                 045-371-9602
45                        False
46                        False
47                        False
48          p#  +1-447-198-9991
49                        False
Name: phone number, dtype: object

In [33]:
pattern=re.compile(r'(( \d{1,10})|\d{3}\-\d{3}\-\d{3}\-\d{4}x\d{1,5}|(\d{1,10})|( \+\d{1}\-\d{3}\-\d{3}\-\d{4})|\(\d{3}\)\d{3}\-\d{4}x\d{1,5}|\(\d{3}\)\d{3}\-\d{4}x\d{1,5})|\(\d{3}\)\d{3}\-\d{4}|(\-\d{3}\-\d{4}x\d{1,5})|\d{3}.\d{3}.\d{4}',re.I)

In [39]:
df['phone_number'] = [pattern.search(str(p)).group()  if pattern.search(str(p)) != None else None for p in  df['phone number']]

In [37]:
df

                           email  ... phone_number
0           george03@hotmail.com  ...   2844290125
1        jbrown@taylor-scott.com  ...   3927388045
2     xperez@williams-palmer.com  ...         None
3            dorothy84@yahoo.com  ...         None
4             rrocha@hotmail.com  ...          726
...                          ...  ...          ...
1995        mcgeehannah@bass.biz  ...          843
1996      moorekenneth@yahoo.com  ...         None
1997      allenreeves@fisher.com  ...   9900127658
1998            mark49@yahoo.com  ...          481
1999      johnsonjames@smith.biz  ...          362

[2000 rows x 8 columns]

In [53]:
df['duration']= df['end_date']-df['start_date']

In [56]:
df

                           email  ...   duration
0           george03@hotmail.com  ...  3866 days
1        jbrown@taylor-scott.com  ...  2983 days
2     xperez@williams-palmer.com  ... 14476 days
3            dorothy84@yahoo.com  ... 14830 days
4             rrocha@hotmail.com  ... 18021 days
...                          ...  ...        ...
1995        mcgeehannah@bass.biz  ...  7154 days
1996      moorekenneth@yahoo.com  ... 10194 days
1997      allenreeves@fisher.com  ...  8492 days
1998            mark49@yahoo.com  ...  4717 days
1999      johnsonjames@smith.biz  ... 16405 days

[2000 rows x 9 columns]